
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Video</title>
</head>
<body >
    <video controls>
    
    <source src="~/fonts/TP2_Demo.xesc" type="video/x-ms-wmv" />
    <object src="http://blip.tv/play/AYGLzBmU8hw"  type="application/x-shockwave-flash"  width="500" height="396"  allowscriptaccess="always"  allowfullscreen="true" />
    </video>
</body>
</html>
