<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/assets/img/favicon.ico">

    <title>Welcome</title>
   
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/ionicons.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/styleButtonCircle.css" rel="stylesheet" />
   
    <script src="~/assets/js/ie10-viewport-bug-workaround.js"></script>
</head>

<body>

    <div id="h">
        <div class="logo">WasSVal.</div>
        <div class="social hidden-xs">
            <a href="https://twitter.com/?lang=fr"><i class="ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/?hl=fr"><i class="ion-social-instagram"></i></a>
            <a href="https://fr-fr.facebook.com/"><i class="ion-social-facebook"></i></a>
        </div>
        
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 centered">
                    <h1>Say Hi to a cleaner planet ! <br /> Waste Value thinks about future generations . </h1>
                    <div class="mtb">
                        
                     <a class='btn btn-conf btn-green' href="#f">Check other users feedbacks</a>
                     
                    </div><!--/mt-->
                  
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div><!-- /H -->

   

   @RenderBody();

    <!--/renderbody-->

   
    
    
    
    
    
    
    
     <div id="g">
         <div class="row">
            
             <div class="col-sm-6 col-md-4">
                 <div class="thumbnail">


                     <img src="~/assets/img/3.PNG" />
                     <div class="caption">
                         <h2>Residence Les Jasmins ,Aouina ,Ariana ,Tunisia </h2>

                         <p> &nbsp;
                             &nbsp;
                             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<a class="btn btn-primary" role="button">45% empty</a> </p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6 col-md-4">
                 <div class="thumbnail">
                     <img src="~/assets/img/2.PNG" />
                    
                     <div class="caption">
                         <h2>Canadian School in Tunis </h2>
                        
                         <p>
                             &nbsp;
                             &nbsp;
                             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a class="btn btn-primary" role="button">20% empty</a> </p>
                     </div>
                 </div>
             </div>
             <div class="col-sm-6 col-md-4">
                 <div class="thumbnail">

                     <img src="~/assets/img/1.PNG" />
                     <div class="caption">
                         <h2>Lac1 , My Way , Tunisia</h2>

                         <p>&nbsp;
                             &nbsp;
                             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a class="btn btn-primary" role="button">80% empty</a> </p>
                     </div>
                 </div>
             </div>
         </div>    
    
    
    
    
    @*<div class="container">
            <div class="row sponsor centered">

                <img src="~/assets/img/1.PNG" />Geo-localisation : Lac1 ,de My Way road , Tunisia.<br />
                Contenance : 70% empty .   
            <br />

                <img src="~/assets/img/2.PNG" />
                
            </div>
        </div>*@
    </div><!--/g-->  
    
    
     
     <div id="green">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 centered">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3>I enjoyed so much using your smart garbage can , using my phone I was able to collect 100 points by throwing plastic bottles everyday .</h3>
                                <h5><tgr>MOHAMED NACER</tgr></h5>
                            </div>
                            <div class="item">
                                <h3>It is an extraordinary idea , my kids loved it and now are collecting POINTS and also BOTTLES so that they can increase their points .I'm so happy that you helped my kids love the ENVIRONMENT and protect it !</h3>
                                <h5><tgr>SALWA LOUZIR</tgr></h5>
                            </div>
                            <div class="item">
                                <h3>There are several adresses for the garbage to find , we can locate them on the website before going there and see it's contenance .</h3>
                                <h5><tgr>MARIEM HOPE</tgr></h5>
                            </div>
                        </div>
                    </div><!--/Carousel-->

                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div><!--/green-->
    
    
     <div id="f">
        <div class="container">
            <div class="row centered">
                <h2>You Can Contact Us</h2>
                <h5>WasteValue@gmail.com</h5>

                <p class="mt">
                    <a href="https://twitter.com/?lang=fr"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-dribbble"></i></a>
                    <a href="https://www.instagram.com/?hl=fr"><i class="ion-social-instagram"></i></a>
                    <a href="https://fr-fr.facebook.com/"><i class="ion-social-facebook"></i></a>
                    <a href="https://fr.pinterest.com/"><i class="ion-social-pinterest"></i></a>
                    <a href="https://www.tumblr.com/"><i class="ion-social-tumblr"></i></a>
                </p>
                <h6 class="mt">COPYRIGHT 2017 - Earthness Team</h6>
            </div><!--/row-->
        </div><!--/container-->
    </div><!--/F-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/retina-1.1.0.js"></script>
   
</body>
</html>
